
<!--/head>
<body>
    <h1>WELCOME  SEARCH WHAT U WANT</h1><br><br>
    <form method="POST">
        <label for="user_input">Input:</label>
        <input type="text" id="user_input" name="user_input">
        <button type="submit">Submit</button>
    </form>
    {% if result %}
    <h2>Result:</h2>
    <p>{{ result }}</p>
    {% endif %}
</body>
</html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/design.css">
</head>
<body>
    <form class="main" method="POST">
        <label for="user_input"></label>
        <input type="Search" placeholder="type to search"   name="search_query">
        <a href="#"><i class="fa fa-search"></i></a>
        <button type="submit">Submit</button>
    </form>
     <br>
    {% if result %}
    <div class="p_list">
        {% for product in result %}
        <div class="p_container">
            <div class="p_image">
                <img src="{{ product.ImageURL }}" alt="{{ product.Name }}">
            </div>
            <div class="p_details">
                <div class="p_name">{{ product.Name }}</div>
                <div class="p_price">Price: &#8377;{{ product.Price }}</div>
                <div class="p_rating">Rating: {{ product.Review }}</div>
                <div class="p_URL"> URL: <a href="{{ product.ProductURL }}" target="_blank">{{ product.ProductURL }}</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Your Searching Product Is Here</p>
    {% endif %}
</div>
<script>
    // // JavaScript code goes here
    // document.addEventListener("DOMContentLoaded", function () {
    //     // This function will run when the document is fully loaded

    //     // Example: Change background color of the container on button click
    //     const button = document.querySelector("button");
    //     const container = document.querySelector(".container");

    //     button.addEventListener("click", function () {
    //         container.style.backgroundColor = "lightblue";
    //     });
    // });
</script>
</body>
</html>
                                                                                                                                                                                                     